.work {
    text-align: center;
  }
  h4{
    color: #3b3b3b;
  }
  .login-section{
    text-align: center;
    margin-top:10% ;
    margin-bottom:10% ;
  }
  form.estilo {
    width: 30%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(12, 5, 116);
    text-align: start;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #999999;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  .benviar {
    margin: 5px;
  }
  
  .blimpar {
    margin: 5px;
  }
  
  #Registre-se{
    color: darkblue;
  }